APScheduler==3.11.0
asgiref==3.8.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
colorlog==6.9.0
cryptography==44.0.0
Django==5.1.4
django-crontab==0.7.1
idna==3.10
pycparser==2.22
pyotp==2.9.0
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
six==1.17.0
smartapi-python==1.5.2
sqlparse==0.5.3
tzdata==2024.2
tzlocal==5.2
urllib3==2.3.0
uuid==1.30
websocket-client==1.8.0
